body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color:black;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}
.link-container {
    display: flex;
    justify-content: space-between;
    margin-top:10px;
  }
.link-container a {
    text-decoration: underline;
    color: blue;
  }

.header {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1{
    color: green;

}

.status-bar {
    display: flex;
}

.status-bar span {
    margin-right: 10px;
}
.form-container {
    background-color: #eee;
    padding: 30px;
    border-radius: 5px;
    width: 10cm;
    height: 17cm;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;

}

button:hover {
    background-color: #3e8e41;
}