body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
    background-color:black ;
  }
  h1{
    color: green;
  }
  input[type="email"] {
    padding: 10px;
    width: 300px;
    font-size: 16px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
  }
  
  .email-btn {
    background-color: #4285F4;
    color: white;
  }
  
  .google-btn, .apple-btn {
    background-color: white;
    border: 1px solid #ccc;
  }
  
  a {
    color: #4285F4;
    text-decoration: none;
  }